@import "~normalize.css";

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    color: black ;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

h1 {
    margin: 5;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 70px;
    background: rgba(127, 255, 212, .4);
} 

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
    cursor: default;
}

.header__options {
    display: flex;
    align-items: center;
}

.header_options-button {
    padding: 10px;
    font-size: 16px;
    /* font-weight: 500; */
    border-radius: 10px;
    /* border: solid 1px #5E6C84; */
    /* outline: none; */
    background-color: #BFE3E1;
    /* background-image: url("../assets/add-list.png"); */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_options-badge {
    width: 25px;
    height: 25px;
    background-image: url("../assets/add-list.png");
    background-repeat: no-repeat;
}

.header_options-button:hover {
    background: #d2e2e2;
}

.header__button-img {
    margin-right: 10px;
}

.boards {
    height: calc(100vh - 130px);
    background: rgba(127, 255, 212, .1);
}

.boards__inner {
    padding-top: 15px;
    display: flex;
    /* justify-content: space-around; */
    align-items: baseline;
    flex-wrap: wrap;
}

.board {
    background: rgba(61, 153, 153, .1);
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 14px -3px rgba(0,0,0,0.5);
    margin-bottom: 25px;
    margin-right: 150px; 
}

.board-animation {
    animation: zoomIn both 1s;
    -webkit-animation: zoomIn both .5s;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
} 

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }

    50% {
        opacity: 1;
    }
}

.board:nth-of-type(3n) {
    margin-right: 0;
}

/* .board__window-menu {
    width: 300px;
    min-height: 300px;
    background: #fff;
    position: fixed;
    top: 118px;
    left: 179px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 4px 4px 14px -7px rgba(0,0,0,0.5);
    border: 0.5px solid #A9A9A9;
} */

.board__field {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board__task {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-height: 50px;
    width: 250px;
    margin: 15px 10px 0px 10px;
    border-radius: 10px;
    border: rgba(61, 153, 153, 0.6) solid 3px;
}

.face-in-down {
    animation: fadeInDown both 0.4s;
    -webkit-animation: fadeInDown both 0.4s;
}

.tremor {
    -webkit-animation: tremor ease-out 0.2s;  
    animation: tremor ease-out 0.2s;  
}

@keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }

    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}

@-webkit-keyframes tremor {
    0%, 25% {
        left: -1px;
        top:-1px;
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }

    50%, 100% {
        left: 1px;
        top: 1px;
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}

.board__task:last-child {
    margin-bottom: 15px;
}

/* .board__input {
    width: 230px;
    border: 0;
    outline: none;
    font-size: 18px;
} */

.board__ready-task {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    background: #fff;
    min-height: 50px;
    width: 250px;
    margin: 15px 10px 0px 10px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 13px -5px rgb(0 0 0 / 50%);
    
}

.board__ready-task-pin {
    width: 30px;
    height: 30px;
    background-image: url("../assets/pin.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: 109px;
}    

.board__task-area {
    height: 28px;
    width: 230px;
    font-size: 18px;
    border: none;
    outline: none;
    resize:none;
}

.board__footer {
    display: flex;
    color: #5E6C84;
    justify-content: baseline;
    font-size: 20px;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
}

.board__footer:hover {
    color: #87CEEB;
}

.board__footer-plus {
    font-size: 28px;
    margin-right: 3px;
    display: flex;
    line-height: 17px;
    transform: translateY(5%);
    z-index: -1;
}

.footer {
    height: 60px;
    background: rgba(127, 255, 212, .7);
}

.footer__inner {
    text-align: center;
}    



