@import "~normalize.css";
@import './header.css';
@import './board.css';
@import './board_header.css';
@import './board_menu.css';
@import './board_task.css';
@import './board_footer.css';
@import './footer.css';

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    color: black ;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

h1 {
    margin: 5;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.boards {
    height: calc(100vh - 130px);
    background: rgba(127, 255, 212, .1);
}

.boards__inner {
    padding-top: 15px;
    display: flex;
    /* justify-content: space-around; */
    align-items: baseline;
    flex-wrap: wrap;
}
